GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ORG=
GITHUB_CALLBACK_URL=http://127.0.0.1:8787/callback/github
OIDC_ISSUER=http://127.0.0.1:8787
OIDC_SIGNING_PRIVATE_KEY=
OIDC_SIGNING_KEY_ID=
TOKEN_HASH_SECRET=
