GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_ORG=
GITHUB_CALLBACK_URL=http://127.0.0.1:8787/callback/github
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL=http://127.0.0.1:8787/callback/google
GOOGLE_ALLOWED_HD_DOMAINS=example.com,example.jp
EMAIL_HASH_PEPPER_V1=<32+ byte random secret>
CURRENT_EMAIL_HASH_PEPPER_VERSION=1
OIDC_ISSUER=http://127.0.0.1:8787
OIDC_SIGNING_PRIVATE_KEY=
OIDC_SIGNING_KEY_ID=
TOKEN_HASH_SECRET=
